@{
    ViewData["Title"] = "MaerksLine Solution";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Cargo and Shipping Solution World-Wide"]</h3>

<p>We provide Cargo and Shipping solutions to world wide. We have the right technology to ensure delivery and cargo management are up to expecations and to compete with the industrial level currently.</p>
