@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>MaerskLine Background</h2>
        <ul>
            <li>Maersk Line is the global container division and the largest operating unit of the A.P. Moller – Maersk Group, a Danish business conglomerate</li>
            <li>It is the world's largest container shipping company having customers through 374 offices in 116 countries</li>
            <li>It employs approximately 7,000 sea farers and approximately 25,000 land-based people</li>
            <li>Maersk Line operates over 600 vessels and has a capacity of 2.6 million TEU</li>
            <li>The company was founded in 1928</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>MaerskLine Web-App</h2>
        <ul>
            <li>Manage your entire booking process from schedule search to booking confirmation</li>
            <li>Accurately allocates inbound containers to yard locations and plan outbound containers to individual haulier vehicles, delivering an exceptional level of automation and removing human error</li>
            <li>Assurance & reliability through Failover Management.</li>
            <li>Improves profitability, cuts costs, increases productivity, eradicates errors and optimizes resources to future-proof your cargo handling business for high performance</li>
            <li>To be able to scale the solution to meet the needs of demands during peak seasons</li>
            <li>Manage import and transhippment processing to gate operations</li>
            <li> Asvin TP037740</li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>Customer Management</h2>
        <p>
            Manage new and existing customers
        </p>
        <p><a class="btn btn-default" href="~/Customers">Manage Customer &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Agent Management</h2>
        <p>
            Register New & Existing Agents
        </p>
        <p><a class="btn btn-default" href="~/Agents">Manage Agent &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Warehouse Management</h2>
        <p>
            Manage new and existing Warehouses
        </p>
        <p><a class="btn btn-default" href="~/Warehouses">Manage Warehouse &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Cargo Management</h2>
        <p>
            Manage new and existing Cargo
        </p>
        <p><a class="btn btn-default" href="~/Cargo">Manage Cargo &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Shipping Management</h2>
        <p>
            Manage new and existing Shipping
        </p>
        <p><a class="btn btn-default" href="~/Shippings">Manage Shipping &raquo;</a></p>
    </div>

</div>


